body {
    background-color: rgb(232, 181, 206)
}
#navGeral {


}
.navGeral {
    font-family: Bahnschrift;
    background-color: rgb(117, 36, 75);
    
}
a {
    color: rgb(38, 38, 38);
}
span,p {
	margin-left:50px
}
#divPoema {
	background: rgba(242, 242, 242, 0.61);
	font-family:Bahnschrift;
    margin: 0 auto;
    height: 400px;
    width: 600px;
    overflow: auto;
    scrollbar-3dlight-color: transparent;
    scrollbar-arrow-color:transparent;
    scrollbar-darkshadow-color: transparent;
    scrollbar-shadow-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-track-color: transparent;
 

}

.botoes {
    text-align:center;
    width:100%;
    margin: 40px 0px 0px 0px;
}

.botao {
	background-color: rgb(38, 38, 38);
	color: rgb(242, 242, 242);
	font-family: 'Agency FB';
	font-size: 20px;
	padding: 10px 60px 10px 60px;
	border-radius: 40px;
	cursor: default;
	width: 200px;
	margin: 0 auto;   
}

    .botao:hover {
        background-color: rgb(117, 36, 75);
    }
.botaoradom {
    background-color: rgb(64, 64, 64);
    color: rgb(242, 242, 242);
    font-family: 'Agency FB';
    font-size: 20px;
    padding: 10px 60px 10px 60px;
    border-radius: 40px;
    cursor: default;
    width: 200px;
    margin: 0 auto;
}
    .botaoradom:hover {
        background-color: rgb(137, 42, 88);
    }
footer {
    height: 100px;
}

	